extends ./layout.jade
block contenido
	section(class="full-height text-center" id="main-content")
		div(class="data")
			div(class="col-sm-6 center-block text-center quitar-float espacio-arriba")
				img(class="animated fadeIn" src="img/logo1.jpg")
				h1(class="Pacifico  verde animated fadeIn retraso-1") Jornadas especiales
				div(class="animated fadeIn retraso-2")
					h2(class="Lato") Asiste con nosotros 
					nav
						a(href="menu.html" class="espacio-derecha") Menú 
						a(href="contacto.html" class="espacio-derecha") Contacto 
						a(href="" class="espacio-derecha") Acerca de