<!---jade ya tiene integrada la logica para implementar layouts -->
doctype html
html(lang="en")
	head
		title Mi primera página

		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
	body
		block contenido